#trailer{
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: var(--bleuVert);
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  text-align: center;
.mousseInfos{
  margin-top: 15px;
  opacity: 0;
}
}

body:hover > #trailer{
  opacity: 1;
}



  .projetTemplate{
    margin: 5vh 5vw 0 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    @include media-max("tablet-up"){
      display: block;
    }
    .explicationProjet{
      grid-column: 1;
      grid-row: 1;
      .textExplicationProjet{
        padding: 2vw 5vw;
        .para{
          font-size: 1.5rem;
          font-family: 'secondaryFont';
          color: var(--roseChina);
          font-style: italic;
        }
        h1{
          font-size: 6rem;
          font-family: 'primaryFont';
          color: var(--bleuVert);
          @include media-max("desktop-up"){
            font-size: 4rem;
          }
        }
        .paragraphe{
          color: var(--bleuVert);
          font-style: normal;
          font-family: 'secondaryFont';
          font-size: 2rem;
          @include media-max("desktop-up"){
            font-size: 1.5rem;
          }
          @include media-max("tablet-up"){
            font-size: 1.3rem;
          }
        }
        .pdate{
          display: flex;
          justify-content: flex-end;
          margin-right: 5vw;
        }
      }
    }
    .imgProjet{
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center; 
        text-align: center; 
        img{
          width: 90%;
          
        }
        @include media-max("tablet-up"){
          margin: 10vw 0 5vw 0;
        }
    }
    .arrowDown{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        .btnplusProjet{
          border: none;
          background-color: var(--bleuVert);
          padding: 1vw;
          border-radius: 0.5vw;
          font-family: 'secondaryFont';
          font-size: 2rem;
          color: var(--beige);
          @include media-max("tablet-up"){
            border-radius: 2vw;
            padding: 2vw;
          }
        }
    }
    .techProjet{
        grid-column: 2;
        grid-row: 2;
        padding: 0 2vw;
        margin-top: 5vh;
        .explicationTechProjet{
          @include media-max("tablet-up"){
            margin: 5vh 5vw 0 5vw;
          }
          width: 70%;
          h1{
            font-size: 4rem;
            font-family: 'primaryFont';
            color: var(--bleuVert);
            @include media-max("desktop-up"){
              font-size: 3rem;
            }
          }
          ul{
            li{
              padding: 0.3vw; 
            }
            font-size: 2rem;
            font-family: 'secondaryFont';
            color: var(--bleuVert);
            @include media-max("desktop-up"){
              font-size: 1.5rem;
            }
          }
        } 
    }
  
  }