#trailer{
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: var(--bleuVert);
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  text-align: center;
.mousseInfos{
  margin-top: 15px;
  opacity: 0;
}
}

body:hover > #trailer{
  opacity: 1;
}



  .contentAbout{
      height: 100vh;
      display: grid;
      margin: 10vh 5vw;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      @include media-max("phone-down"){
        grid-template-columns: 1fr;
      }
      .textPerso{
          position: relative;
          grid-column: 1;
          grid-row: 1 / span 3;
          .explication{
            position: absolute;
            top: 50%; 
            transform: translateY(-50%);
            width: 100%;
            margin-left: -5%;
            p{
              width: 50px;
              text-align: center;
              font-size: 1.8rem;
              font-family: 'secondaryFont';
              color: var(--bleuVert);
              position: relative;
              transform: rotate(-90deg);
              &::before{
                content: '';
                background-color: var(--bleuVert);
                height: 3px;
                width: 50px;
                position: absolute;
                right: 120%;
                top: 50%; 
                transform: translateY(-50%);
              }
              &::after{
                content: '';
                background-color: var(--bleuVert);
                height: 3px;
                width: 50px;
                position: absolute;
                left: 210%;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            @include media-max("phone-down"){
              display: none;
            }
          }
          .textAbout{
            padding: 0 2vw 0 2vw;
            position: relative;
            h1{
              font-size: 6rem;
              font-family: 'primaryFont';
              color: var(--bleuVert);          
              @include media-max("desktop-up"){
                font-size: 4rem;
              }
              @include media-max("phone-down"){
                font-size: 3rem;
              }
            }
            p{
              font-size: 2rem;
              font-family: 'secondaryFont';
              color: var(--bleuVert);
              @include media-max("desktop-up"){
                font-size: 1.5rem;
              }
            }
          }
      }
      .cercle{
          grid-column: 2;
          grid-row: 1 /span 2;
          display: flex;
          justify-content: end;
          @include media-max("phone-down"){
            grid-column: 1;
            grid-row: 5 /span 7;
          }
          .svgProposCercle{
            width: 20%;
            @include media-max("phone-down"){
              width: 30%;
            }
          }
          svg{
            fill: currentColor;
            height: auto;
            max-width: 66vmin;
            transform-origin: center;
            width: 100%;
            font-family: 'primaryFont';
            color: var(--bleuVert);
            animation: spin 20s infinite linear ;
            @keyframes spin {
              0%{transform: rotate(0deg);}
              100%{transform: rotate(360deg);}
            }
          }   
      }
      .curVit{
          grid-column: 1;
          grid-row: 4 /span 5;
          @include media-max("phone-down"){
            grid-row: 6 ;
            margin-top: 50px;
          }
          .title{
            font-size: 6rem;
            font-family: 'primaryFont';
            color: var(--bleuVert);
            @include media-max("desktop-up"){
              font-size: 4rem;
            }
            @include media-max("phone-down"){
              font-size: 3rem;
            }

          }
          .firstT{
            margin-left: 2vw;
          }
          .secondT{
            margin-left: 10vw;
          }
          .btnCV{
            display: flex;
            justify-content: space-around;
            width: 18%;
            margin-left: 3.4vw;
          
            
            button{
              border: none;
              background-color: inherit;
              font-size: 2rem;
              font-family: 'secondaryFont';
              color: var(--roseChina);
            }
            img{
              margin-left: -4vw;
              margin-top: 0.5vh;
              width: 15%;
              height: 15%;
            }
            
          }
      }
      .imgPassion{
        grid-column: 2;
        grid-row: 3/ span 5;
        position: relative;
        @include media-max("phone-down"){
          grid-column: 1;
        }
        .explication{
          position: absolute;
          top: 30%; 
          transform: translateY(-50%);
          left: 15%;
          p{
            width: 50px;
            text-align: center;
            font-size: 1.8rem;
            font-family: 'secondaryFont';
            color: var(--bleuVert);
            position: relative;
            transform: rotate(-90deg);
            &::before{
              content: '';
              background-color: var(--bleuVert);
              height: 3px;
              width: 50px;
              position: absolute;
              right: 120%;
              top: 50%; 
              transform: translateY(-50%);
            }
            &::after{
              content: '';
              background-color: var(--bleuVert);
              height: 3px;
              width: 50px;
              position: absolute;
              left: 140%;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          @include media-max("phone-down"){
            display: none;
          }
        }
        .image{
          width: 15vw;
          position: absolute;
          @include media-max("phone-down"){
            display: none;
          }
        }
        .first{
          right: 30%;
          @include media-max("desktop-up"){
            bottom: 65%;
          }
          &:hover{
            z-index: 1;
            transition: 1s;
            transform: scale(1.1);
          }
        }
        .second{
          left: 50%;
          bottom: 53%;
          @include media-max("desktop-up"){
            bottom: 59%;
          }
          &:hover{
            z-index: 1;
            transition: 1s;
            transform: scale(1.1);
          }
        }
        .third{
          right: 40%;
          bottom: 45%;
          @include media-max("desktop-up"){
            bottom: 55%;
          }
          &:hover{
            z-index: 1;
            transition: 1s;
            transform: scale(1.1);
          }
        }
      }

  }
